* {
    background-color: #ECEDEF;
}

.container {
    margin-top: 40px;
    padding: 0;
    text-align: center;

    /* background-color: #ffffff; */
}

/* input {
    border-radius: 20px;
    border: 5px solid #719171;
    font-size: 34px;
    height: 105px;
    width: 500px;
} */

.op {
    background-color: orange;
    width: 100%;
    border-radius: 52px 52px 0 0;
}

input {
    margin: 0 !important;

    border: none;
    background-color: orange;

    color: black;
    font-size: 35px;
    height: 250px;
    width: auto;
}

.ip {
    border-radius: 51px;
    background-color: #ffffff;
}

table {
    margin: 40px 25px;
    padding: 0;
    background-color: #ffffff;
}


td {
    background-color: #ffffff;
}

button {
    border-radius: 50%;
    font-size: 40px;
    background: #b5b8be;
    color: #0f0f0f;
    width: 102px;
    height: 90px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.calculator {
    border: 4px solid #1a423d;
    background-color: #ffffff;
    margin: 50px;
    padding: 0;
    border-radius: 53px;
    display: inline-block;

}

.output {
    background-color: orange; !important;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: system-ui;
}